<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TAG</name>
          <description></description>
          <defaultValue>release-1</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://sea2shore.googlecode.com/svn</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions>binaries/*</excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.CheckoutUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn_user=`ruby /usr/share/tomcat6/scripts/aws/showback_domain.rb properties google_svn_user`
svn_password=`ruby /usr/share/tomcat6/scripts/aws/showback_domain.rb properties google_svn_pass`

svn upgrade

rm -rf /tags/$TAG

svn copy trunk/src tags/$TAG

sed -i &apos;s@&lt;remote&gt;.*&lt;/remote&gt;@&lt;remote&gt;https://subversion.assembla.com/svn/manatees/tags/$TAG/src/gems/common-step-definitions&lt;/remote&gt;@&apos; tags/$TAG/jenkins_config/jobs/CreateCommonStepDefinitionsGem/config.xml
sed -i &apos;s@&lt;remote&gt;.*&lt;/remote&gt;@&lt;remote&gt;https://subversion.assembla.com/svn/manatees/tags/$TAG/src/infrastructure/manatees&lt;/remote&gt;@&apos; tags/$TAG/jenkins_config/jobs/CreateTargetEnvironment/config.xml
sed -i &apos;s@&lt;remote&gt;.*&lt;/remote&gt;@&lt;remote&gt;https://subversion.assembla.com/svn/manatees/tags/$TAG/src/deployment&lt;/remote&gt;@&apos; tags/$TAG/jenkins_config/jobs/DeployManateeApplication/config.xml
sed -i &apos;s@&lt;remote&gt;.*&lt;/remote&gt;@&lt;remote&gt;https://subversion.assembla.com/svn/manatees/tags/$TAG/src/config&lt;/remote&gt;@&apos; tags/$TAG/jenkins_config/jobs/UploadConfigFilesToS3/config.xml

svn commit -m &quot;test&quot; --username $svn_user --password $svn_password --non-interactive</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>